<?xml version="1.0" encoding="UTF-8"?>

<module name="Checker">
    <module name="TreeWalker">
        <!-- Indentation check -->
        <module name="Indentation"/>

        <!-- LineLength check, limit to 120 characters -->
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>

        <!-- MethodName convention check -->
        <module name="MethodName"/>

        <!-- VariableName convention check -->
        <module name="VariableName"/>
    </module>
</module>
