<module name="Checker">
    <module name="TreeWalker">
        <module name="Indentation"/>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="MethodName"/>
        <module name="VariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>
    </module>
</module>
